<div class="fechamentosContainer">
	
	
	<!-- SELECT -->
	<div class="form-group">
		<label for="fechamentoSelect">Selecione o fechamento e escolha as dezenas:</label>
		<select class="form-control"
			ng-options="fechamento.descricao for fechamento in fechamentos"
			ng-model="fechamentoSelecionado" ng-change="limpar()">
		</select>
	</div>
	
	<div class="volanteFechamento" class="border">
		<div ng-repeat="item in itens" class="d-inline-block">
			<button 
				class="buttonFechamento"
				ng-click="check(item)"
				ng-class="item.color"
				>{{item.num}}</button>
		</div>
	</div>
	
	
	<div class="form-inline mt-3">
		<div class="form-group">
			<button class="btn btn-info" ng-click="palpite()">Palpite</button>
		</div>
		<div class="form-group ml-2">
			<button class="btn btn-warning" ng-click="limpar()">Limpar</button>
		</div>
	</div>
	
	
	<div class="form-group mt-5">
		<label>Selecionadas: </label>
		<label>{{selecionadas}}</label>
	</div>
	
	

</div>
